@model MyBlog.BLL.ViewModels.ArticleViewModel

@{
    ViewData["Title"] = "Article";
}

<h3>@Model.Article.Title</h3>
<p>
    @foreach (var tag in Model.Article.Tags)
    {
        <span class="badge rounded-pill bg-primary">@tag.Name</span>
    }
</p>
<p class="border-top lh-base">@Model.Article.Text</p>
<div class="text-end text-secondary border-top">
    Автор: @Model.Article.Author.Email
</div>
<h6>Комментарии к статье</h6>
<div>
    @foreach (var comment in Model.Comments)
    {
        <div class="border-top border-bottom mb-3 mt-3">
            <div class="text-secondary">
                @comment.Author.Email
            </div>
            <input type="text" readonly class="form-control-plaintext" value="@comment.Text">
        </div>
    }
</div>
<div>
    @{
        @if (User.Identity!.IsAuthenticated)
        {
            Html.RenderPartial("NewComment", Model.NewCommentVM);
        }
    }
</div>
<a class="link-primary text-decoration-none mb-3 mt-3" asp-area="" asp-controller="Article" asp-action="GetAllArticle">Перейти к списку всех статей</a>