@model MyBlog.BLL.ViewModels.UserViewModel

@{
    ViewData["Title"] = "User";
}

<h3>@Model.User.GetFullName()</h3>
<p>
    @foreach (var role in Model.Roles)
    {
        <span class="badge rounded-pill bg-primary">@role.Name</span>
    }
</p>
<div class="border-top border-bottom mb-3 mt-3">
    <div>
        <label class="text-muted">Дата рождения:</label>
        <label>@Model.User.BirthDate.ToLongDateString()</label>
    </div>
    <div>
        <label class="text-muted">Email:</label>
        <label>@Model.User.Email</label>
    </div>
</div>

<h5>Статьи</h5>
<div class="row gy-2 mb-3 mt-3">
    @foreach (var article in Model.Articles)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a class="text-primary text-decoration-none" asp-area="" asp-controller="Article" asp-action="ViewArticle" asp-route-id="@article.Id">
                        @article.Title
                    </a>
                </h5>
                <p>
                    @foreach (var tag in article.Tags)
                    {
                        <span class="badge rounded-pill bg-primary">@tag.Name</span>
                    }
                </p>
                <div class="row g-3">
                    <div class="col-auto col-md-6 offset-md-4 text-end text-secondary">
                        Автор: @article.Author.Email
                    </div>
                </div>
            </div>
        </div>
    }
</div>